{% extends "base.html" %}
{% block content %}


<DIV class=container style='padding-top: 50px; padding-bottom: 100px'>
<h1>My Cart</h1><br>
{% if cartid %} 
<table class="table cart-table">
  <thead>
    <tr>
      <th width="50px">Item</th>
      <th width="150px">Product Name</th>
      <th width="500px">Description</th>
      <th width="100px">Price</th>
      <th colspan="2" width="100px" style="text-align:center;">Quantity</th>
      <th style="text-align:center;" width="100px">Total</th>
      <th width="50px">Delete</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for order_item in cart.items.all %}
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href='{{ order_item.item.get_absolute_url }}'>{{ order_item.item.sku }}</a> </td>
    <td>{{ order_item.item.description|truncatewords:20 }}</td>
    <td>${{ order_item.item.price }}</td>
    <td colspan="2" align="center">
        <form method="post" action="." class="cart" style="width:200px;">
            {% csrf_token %}
            <input type="text" name="quantity" value="{{ order_item.quantity }}" id="quantity" 
            size="2" class="quantity" maxlength="5" style="text-align:center;"/>
            <input type="hidden" name="item_id" value="{{ order_item.id }}" />
            <input type="submit" name="submit" value="Update" />
            </form>
          
          <!--
                <input type='button' value='-' class='qtyminus' field='quantity' style="font-weight: bold;" />
                <input type="text" name="quantity" value="1" class="qty" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                <input type='button' value='+' class='qtyplus' field='quantity' style="font-weight: bold;" />
          -->
              
    </td>
    <!-- <td align="center"><span>-</span>{{ order_item.quantity }}<span><i class="fas fa-plus"></i></span></td> -->
    <td align="center">${{ order_item.item_total_price }}</td>
      <td align="center">
          <form method="post" action="." class="cart">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{ order_item.id }}" />
              <input type="submit" name="submit" value="Remove"/>
          </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"></td>
      <td align="right"><b>Subtotal</b></td>
      <td align="center" colspan="1">$<span class='cart-subtotal'>{{ cart.subtotal_price }}</span></td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td align="right"><b>GST (7%)</b></td>
      <td align="center" colspan="1">$<span class='cart-total'>{{ cart.tax_amt|floatformat:"2" }}</span></td>
      <td colspan="1"></td>
    </tr>    
    <tr>
      <td colspan="5"></td>
      <td align="right"><b>Total</b></td>
      <td align="center" colspan="1">$<span class='cart-total'>{{ cart.total_price|floatformat:"2" }}</span></td>
      <td colspan="1"></td>
    </tr>
    <tr>
      <td colspan="6"></td>
      <td colspan="6"><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>

  </tbody>
</table>

<div class='cart-item-remove-form' style='display:none'>
  </div>

{% else %}
  Your cart is empty
{% endif %}
</DIV>
{% endblock %}